<!doctype html>

<html>
<head>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='82944833-1',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

  <title>Pantry</title>
  <meta charset='utf-8'>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  {{> standard_css}}
  {{> standard_js}}
</head>
<body>

  <div>
    {{!-- Data targets  --}}
    {{> sidebar}}
    {{> request_modal}}
    {{> share_modal}}
    {{> pantry_modal}}
    {{!-- Item modal included for to pantry button  --}}
    {{> item_modal}}

    <div id="header">
      <a href="#menu"></a>
      {{pantry_name}}
      <a class="right" href="#" data-toggle="modal" data-target="#requestModal"></a>
    </div>

    {{> control}}
    <div class="container container-content">
      {{#if alt}}
        {{#each requests}}
          {{> request_alt}}
        {{/each}}
      {{else}}
        {{#each requests}}
          {{> request}}
        {{/each}}
      {{/if}}
    </div>

    <div id="footer">
      <a href="/shopping_list/{{id}}/{{next_shopping_list_order}}">
        Sort by: <i>{{shopping_list_order}}</i>
      </a>
      <a href="#" class="right">
        <span id="edit">Edit</span>
      </a>
    </div>
  </div>


  <script type="text/javascript" src="/js/shopping_list.js"></script>
</body>

</html>